pandas==1.4.2
matplotlib
numpy
pandapipes==0.6.0
pandapower==2.9.0
mango-agents==0.3.0
mango-library
pytest
peext
torch
overrides
networkx
numba
jax[cpu]
simbench
scipy
plotly==5.11.0
kaleido==0.2.1
pykalman-py311-update
python-interface

